.cardTodo{
    background-color: #f1f2f4;
    color: #1f1f1f;
    width: 35rem;
    height: 55rem;
    margin: auto auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    position: relative;
    margin: 5rem;
    box-shadow: 0.5rem 0.1rem 1rem black;
}



.cardTodo header{
    height: 10%;
    border-bottom: 0.2rem #c9c9c9 solid;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cardTodo header:hover .cardTodo_edit{
    opacity: 1;
}

.cardTodo header p{
    width: 10%;
}

.cardTodo header p:hover{
    cursor: pointer;
}

.cardTodo header h2{
    width: 60%;
}

.cardTodo_edit{
    width: 30%;
    transform: translateX(-5rem);
    color: #1f1f1f70;
    opacity: 0;
    transition: all 0.1s ease;
}

.cardTodo ul{
    height: 80%;
    overflow-y: scroll;
    transition: all 0.5s ease;
}

.cardTodo ul::-webkit-scrollbar {
    display: none;
  }


.cardTodo > ul > li{
    list-style-type: none;
    border-bottom: 0.1rem #c9c9c9 solid;
    margin-bottom: 1rem;
    padding: 1rem;
    
}

.cardTodo ul li:hover{
    text-decoration: line-through;
    cursor: pointer;
}

.cardTodo--done{
    text-decoration: line-through;
}

.input{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;

    bottom: 1rem;
}

.cardTodo_input{
    height: 10%;
}

.title_input{
    width: 80%;
}

/* FFCC70,  FFFADD, 8ECDDD, 22668D*/

@media only screen and (max-width: 600px){
    .cardTodo{
        width: 100vw;
        margin: 1rem;
        z-index: 0;
    }
}