.cardTodo{
    background-color: #FFFADD;
    color: #1f1f1f;
    width: 35rem;
    height: 55rem;
    margin: auto auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    position: relative;
    margin: 5rem;
    box-shadow: 0.5rem 0.1rem 1rem black;
}



.cardTodo header{
    height: 10%;
    border-bottom: 0.2rem #FFFADD solid;
}

.cardTodo ul{
    height: 80%;
    overflow-y: scroll;
}

.cardTodo ul::-webkit-scrollbar {
    display: none;
  }


.cardTodo > ul > li{
    list-style-type: none;
    border-bottom: 0.1rem #FFCC70 solid;
    margin-bottom: 1rem;
    padding: 1rem;
}

.cardTodo ul li:hover{
    text-decoration: line-through;
    cursor: pointer;
}

.cardTodo--done{
    text-decoration: line-through;
}

.cardTodo input{
    background-color: #FFFADD;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    position: sticky;
    bottom: 1rem;
    height: 10%;
}

/* FFCC70,  FFFADD, 8ECDDD, 22668D*/